<!DOCTYPE html>
<html lang="zh-CN">
<head>
	{include file="public/head" /}
	<title>修改</title>
	<link href="http://www.bootcss.com/p/bootstrap-datetimepicker/bootstrap-datetimepicker/css/datetimepicker.css" rel="stylesheet">
</head>
<body>
{include file="public/header" /}
<div class="container-fluid">
	{include file="public/left" /}
	<div class="col-lg-9 col-md-9 col-sm-9">
		<h3>修改</h3>
		<form action="" method="post" id="myform" name="myform" enctype="multipart/form-data">
			<input type="hidden" name="id" value="{$orderList.id}">
			<div class="col-lg-4">
				<div class="form-group">
					<label for="name">姓名</label>
					<input type="text" class="form-control" id="name" name="name" value="{$orderList.name}">
				</div>
				<div class="form-group">
					<label for="age">年龄</label>
					<input type="text" class="form-control" id="age" name="age" value="{$orderList.age}">
				</div>
				<div class="form-group">
					<label for="tel">电话</label>
					<input type="text" class="form-control" id="tel" name="tel" value="{$orderList.tel}">
				</div>
				<div class="form-group">
					<label for="sex">性别</label>
					<label class="radio-inline">
						<input type="radio" name="sex" {if condition="$orderList.sex eq '男'" }checked{/if} value="男"> 男
					</label>
					<label class="radio-inline">
						<input type="radio" name="sex" {if condition="$orderList.sex eq '女'" }checked{/if} value="女"> 女
					</label>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="form-group">
					<label for="djtime">登记时间</label>
					<input type="text" class="form-control Wdate" readonly id="djtime" name="djtime" value="{$orderList.djtime}">
				</div>
				<div class="form-group">
					<label for="xgtime">修改时间</label>
					<input type="text" value="" class="form-control Wdate inittime" readonly id="xgtime" name="xgtime">
				</div>
				<div class="form-group">
					<label for="yytime">预约时间</label>
					<input type="text" value="" class="form-control Wdate" name="yytime" value="{$orderList.yytime}" onClick="WdatePicker({el:this,dateFmt:'yyyy-MM-dd HH:mm:ss'})">
				</div>
				<div class="form-group">
					<label for="dztime">到诊时间</label>
					<input type="text" value="" class="form-control Wdate" name="dztime" value="{$orderList.dztime}" onClick="WdatePicker({el:this,dateFmt:'yyyy-MM-dd HH:mm:ss'})">
				</div>
			</div>
			<div class="col-lg-4">
				<div class="form-group">
					<label for="kefu">客服</label>
					<input type="text" class="form-control" id="kefu" name="kefu" readonly value="{$orderList.kefu}">
					<input type="hidden" name="kefuid" value="{$orderList.kefuid}">
				</div>
				<div class="form-group">
					<label for="qudao">渠道</label>
					<input type="text" class="form-control" id="qudao" name="qudao" value="{$orderList.qudao}">
				</div>
				<div class="form-group">
					<label for="daozhen">是否到诊</label>
					<label class="radio-inline">
						<input type="radio" name="daozhen" {if condition="$orderList.dztime" }checked{/if} value="1"> 到诊
					</label>
					<label class="radio-inline">
						<input type="radio" name="daozhen" {if condition="!$orderList.dztime" }checked{/if} value="0"> 未到诊
					</label>
				</div>
			</div>
			<div class="col-lg-12">
				<div class="form-group">
					<label for="pic">上传图片</label>
					<input type="file" name="pic" id="pic">
				</div>
				<div class="form-group">
					<label for="desc">病情描述</label>
					<textarea class="form-control" rows="3" name="desc">{$orderList.desc}</textarea>
				</div>
				<div class="form-group">
					<label for="beizhu">备注</label>
					<textarea class="form-control" rows="3" name="beizhu">{$orderList.beizhu}</textarea>
				</div>
				<button type="submit" class="btn btn-default">Submit</button>
			</div>
		</form>
	</div>
</div>
{include file="public/footer" /}
<script language="javascript" type="text/javascript" src="/public/static/admin/lib/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript" src="/public/static/admin/lib/ueditor/ueditor.config.js"></script>
<script type="text/javascript" src="/public/static/admin/lib/ueditor/ueditor.all.min.js"></script>
<script type="text/javascript" src="/public/static/admin/lib/ueditor/lang/zh-cn/zh-cn.js"></script>
<script type="text/javascript">
    UE.getEditor('content', {initialFramWidth: '100%', initialFramHeight: 1000});
    var nowDate = new Date();
    var timeStr = nowDate.getFullYear()+"-"+(addzero(nowDate.getMonth() + 1))+"-"+addzero(nowDate.getDate())+" "+nowDate.getHours()+":"+addzero(nowDate.getMinutes())+":"+addzero(nowDate.getSeconds());
    $('.inittime').val(timeStr);
    function addzero(dateVal) {
        return dateVal < 10 ? '0' + dateVal: dateVal;
    }
</script>
</body>
</html>