<!DOCTYPE html>
<html lang="zh-CN">
<head>
	{include file="public/head" /}
	<title>修改信息</title>
	<link href="http://www.bootcss.com/p/bootstrap-datetimepicker/bootstrap-datetimepicker/css/datetimepicker.css" rel="stylesheet">
</head>
<body>
{include file="public/header" /}
<div class="container-fluid">
	{include file="public/left" /}
	{if condition="$orderList.id"}
	{if condition="$orderList.kefuid eq session('id') || session('type') eq 1"}
	{include file="public/collgright" /}
			<h3>咨询预约患者修改</h3>
			<hr>
			<form action="" method="post" id="myform" name="myform" enctype="multipart/form-data">
				<input type="hidden" name="id" value="{$orderList.id}">
				<div class="col-lg-2">
					<div class="form-group">
						<label for="name">患者姓名</label>
						<input type="text" class="form-control" id="name" name="name" readonly value="{$orderList.name}">
					</div>
				</div>
				<div class="col-lg-2">
					<div class="form-group">
						<label for="">性别</label>
						<select class="form-control" name="sex">
							<option value="{$orderList.sex}">{$orderList.sex}</option>
							<option value='{if condition="$orderList.sex eq '女'"}男{else}女{/if}'>{if condition="$orderList.sex eq '女'"}男{else}女{/if}</option>
						</select>
					</div>
				</div>
				<div class="col-lg-2">
					<div class="form-group">
						<label for="age">年龄</label>
						<input type="text" class="form-control" id="age" name="age" value="{$orderList.age}">
					</div>
				</div>
				<div class="col-lg-2">
					<div class="form-group">
						<label for="">联系方式</label><br>
						<select class="form-control lxfs">
							<option value="电话">电话</option>
						</select>
						<input type="text" class="form-control" id="tel" name="tel" value="{$orderList.tel}">
						<select class="form-control lxfs">
							<option value="微信">微信</option>
						</select>
						<input type="text" class="form-control" id="weixin" name="weixin" value="{$orderList.weixin}">
						<select class="form-control lxfs">
							<option value="QQ">QQ</option>
						</select>
						<input type="text" class="form-control" id="qq" name="qq" value="{$orderList.qq}">
					</div>

				</div>
				<div class="col-lg-2">
					<div class="form-group">
						<label for="address">地域</label>
						<input type="text" class="form-control" id="address" name="address" value="{$orderList.address}">
					</div>
				</div>
				<div class="col-lg-2">
					<div class="form-group">
						<label for="jiehun">婚否</label>
						<select class="form-control" name="jiehun" id="jiehun">
							<option value="{$orderList.jiehun}">{$orderList.jiehun}</option>
							{if condition="$orderList.jiehun eq '已婚'"}
							<option value="未婚">未婚</option>
							<option value="保密">保密</option>
							{elseif condition="$orderList.jiehun eq '未婚'"}
							<option value="已婚">已婚</option>
							<option value="保密">保密</option>
							{elseif condition="$orderList.jiehun eq '保密'"}
							<option value="未婚">未婚</option>
							<option value="已婚">已婚</option>
							{/if}
						</select>
					</div>
				</div>
				<div class="col-lg-12"></div>
				<div class="col-lg-2">
					<div class="form-group">
						<label for="">病种</label>
						<input type="text" class="form-control" id="" name="disease" readonly value="{$orderList.disease}">
					</div>
				</div>
				<div class="col-lg-2">
					<div class="form-group">
						<label for="">预约科室</label>
						<select class="form-control" name="keshi">
							<option value="{$orderList.keshi}">{$orderList.keshi}</option>
							<option value="妇科">妇科</option>
							<option value="产科">产科</option>
							<option value="不孕科">不孕科</option>
							<option value="计生科">计生科</option>
							<option value="男科">男科</option>
							<option value="儿科">儿科</option>
							<option value="口腔科">口腔科</option>
							<option value="外科">外科</option>
							<option value="妇产科">妇产科</option>
						</select>
					</div>
				</div>
				<div class="col-lg-2">
					<div class="form-group">
						<label for="">初诊/复诊</label>
						<select class="form-control" name="czfz">
							<option value="{if condition='$orderList.czfz eq 0'}0{else}1{/if}">{if condition='$orderList.czfz eq 0'}初诊{else}复诊{/if}</option>
							<option value="{if condition='$orderList.czfz eq 0'}1{else}0{/if}">{if condition='$orderList.czfz eq 0'}复诊{else}初诊{/if}</option>
						</select>
					</div>
				</div>
				<div class="col-lg-2">
					<div class="form-group">
						<label for="">预约时间</label>
						<input type="text" class="form-control Wdate" maxlength="10" name="yytime" onClick="WdatePicker({el:this,dateFmt:'yyyy-MM-dd'})" value="{$orderList.yytime}">
					</div>
				</div>
				<div class="col-lg-2">
					<div class="form-group">
						<label for="">预约医生</label>
						<select class="form-control" name="doctor">
							<option value="{$orderList.doctor}">{$orderList.doctor}</option>
							<option value="杨淑华">杨淑华</option>
							<option value="杨焕玲">杨焕玲</option>
							<option value="艾朝辉">艾朝辉</option>
							<option value="张智君">张智君</option>
							<option value="陶新凤">陶新凤</option>
							<option value="荣 琪">荣 琪</option>
							<option value="齐金燕">齐金燕</option>
							<option value="胡朝钢">胡朝钢</option>
							<option value="黄长海">黄长海</option>
							<option value="赵清秀">赵清秀</option>
							<option value="陈凤林">陈凤林</option>
						</select>
					</div>
				</div>
				<div class="col-lg-2">
					<div class="form-group">
						<label for="">就诊院区</label>
						<select class="form-control" name="yuanqu">
							<option value="{$orderList.yuanqu}">{$orderList.yuanqu}</option>
							<option value="{if condition='$orderList.yuanqu eq "安太"'}海婴{else}安太{/if}">{if condition='$orderList.yuanqu eq "安太"'}海婴{else}安太{/if}</option>
						</select>
					</div>
				</div>
				<div class="col-lg-2">
					<div class="form-group">
						<label for="">客服姓名</label>
						<input class="form-control" type="text" name="kefu" readonly value="{$orderList.kefu}">
					</div>
				</div>
				<div class="col-lg-2">
					<div class="form-group">
						<label for="">渠道</label>
						<select class="form-control" name="qudao" id="">
							<option value="{$orderList.qudao}">{$orderList.qudao}</option>
							<option value="商务通">商务通</option>
							<option value="微信">微信</option>
							<option value="QQ">QQ</option>
							<option value="电话">电话</option>
							<option value="大众&美团">大众&美团</option>
							<option value="百度糯米">百度糯米</option>
							<option value="安太宝">安太宝</option>
							<option value="其它">其它</option>
						</select>
					</div>
				</div>
				<div class="col-lg-2">
					<div class="form-group">
						<label for="">类别</label>
						<select class="form-control" name="type">
							<option value="{$orderList.type}">{$orderList.type}</option>
							<option value="{if condition='$orderList.type eq "个人"'}科室{else}个人{/if}">{if condition='$orderList.type eq "个人"'}科室{else}个人{/if}</option>

						</select>
					</div>
				</div>
				<div class="col-lg-2">
					<div class="form-group">
						<label for="">到诊时间</label>
						<input type="text" class="form-control Wdate" maxlength="10" name="dztime" onClick="WdatePicker({el:this,dateFmt:'yyyy-MM-dd'})" value="{$orderList.dztime}">
					</div>
				</div>
				<div class="col-lg-2">
					<div class="form-group">
						<label for="">回访时间</label>
						<input type="text" class="form-control Wdate" maxlength="10" name="hftime" onClick="WdatePicker({el:this,dateFmt:'yyyy-MM-dd HH:mm:ss'})" value="{$orderList.hftime}">
					</div>
				</div>
				<div class="col-lg-2">
					<div class="form-group">
						<label for="">是否已经回访</label>
						<select class="form-control" name="huifang">
							<option value="{$orderList.huifang}">{if condition="$orderList.huifang eq 0"}未回访{elseif condition="$orderList.huifang eq 4"}待回访{elseif condition="$orderList.huifang eq 1"}回访中{else}结束回访{/if}</option>
							{if condition="$orderList.huifang eq 0"}
							<option value="4">待回访</option>
							<option value="1">回访中</option>
							<option value="2">结束回访</option>
							{elseif condition="$orderList.huifang eq 1"}
							<option value="0">未回访</option>
							<option value="4">待回访</option>
							<option value="2">结束回访</option>
							{elseif condition="$orderList.huifang eq 4"}
							<option value="0">未回访</option>
							<option value="1">回访中</option>
							<option value="2">结束回访</option>
							{else}
							<option value="0">未回访</option>
							<option value="4">待回访</option>
							<option value="1">回访中</option>
							{/if}
						</select>
					</div>
				</div>
				<div class="col-lg-2">
					<div class="form-group">
						<label>病情描述</label>
						<textarea class="form-control" rows="3" name="desc">{$orderList.desc}</textarea>
					</div>
				</div>
				<div class="col-lg-2">
					<div class="form-group">
						<label>备注</label>
						<textarea class="form-control" rows="3" name="beizhu">{$orderList.beizhu}</textarea>
					</div>
				</div>
				<div class="col-lg-2">
					<div class="form-group">
						<label>关键词（旧信息带的）</label>
						<textarea class="form-control" rows="3" name="beizhu">{$orderList.keywords}</textarea>
					</div>
				</div>
				<div class="col-lg-12">
					{if condition="$orderList.pic"}
					<div class="form-group">
						<label for="">图片：</label>
						<img src="http://yuyue.bjatfc.com/{$orderList.pic}" alt="">
					</div>
					{/if}
				</div>
				<div class="col-lg-12">
					<div class="form-group">
						<label for="">聊天记录</label>
						<textarea class="form-control1" id="liaotian" rows="13" name="liaotian">{$orderList.liaotian}</textarea>
					</div>
				</div>
				<input type="hidden" name="referrer" value="" class="referrer">
				<div class="col-lg-12"><button type="submit" class="btn btn-primary">修改</button></div>
			</form>
		</div>
		{else}
		<script>alert('只能修改自己登记的信息');history.go(-1)</script>
		{/if}
	{else}
		<script>alert('无效id');history.go(-1)</script>
	{/if}
</div>
{include file="public/footer" /}
<script language="javascript" type="text/javascript" src="/public/static/admin/lib/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript" src="/public/static/admin/lib/ueditor/ueditor.config.js"></script>
<script type="text/javascript" src="/public/static/admin/lib/ueditor/ueditor.all.min.js"></script>
<script type="text/javascript" src="/public/static/admin/lib/ueditor/lang/zh-cn/zh-cn.js"></script>
<script type="text/javascript">
    var ue = UE.getEditor(
        'liaotian',
        {
            initialFramWidth: '100%',
            initialFramHeight: 1000
        }
    );
    ue.ready(function(){
        ue.setHeight(200);
    })
    var nowDate = new Date();
    var timeStr = nowDate.getFullYear()+"-"+(addzero(nowDate.getMonth() + 1))+"-"+addzero(nowDate.getDate())+" "+nowDate.getHours()+":"+addzero(nowDate.getMinutes())+":"+addzero(nowDate.getSeconds());
    $('.inittime').val(timeStr);
    function addzero(dateVal) {
        return dateVal < 10 ? '0' + dateVal: dateVal;
    }

    var obj = {
        'width': '65%',
        'float': 'right',
    }
    $('.lxfs').css({
        'width': '34%',
        'float': 'left',
    })
    $('#tel').css(obj);
    $('#weixin').css(obj);
    $('#qq').css(obj);
    $('.referrer').val(document.referrer);
</script>
</body>
</html>