<!DOCTYPE html>
<html lang="zh-CN">
<head>
	{include file="public/head" /}
	<title>预约到今日</title>
</head>
<body>
{include file="public/header" /}
<div class="container-fluid">
	{include file="public/left" /}
	<div class="col-lg-11 col-md-11 col-sm-11">
		<h3>今日预约</h3>
		{include file="public/search" /}
		<table class="table table-bordered table-hover">
			<thead>
			<tr>
				<th>点诊</th>
				<th>预约号</th>
				<th>患者</th>
				<th>登记时间</th>
				<th>预约时间</th>
				<th>到诊时间</th>
				<th>客服</th>
				<th>病情描述</th>
				<th>操作</th>
			</tr>
			</thead>
			<tbody>
			{volist name="orderList" id="vo"}
			<tr>
				{if condition="$vo.daozhen eq 0" }
				{if condition="session('type') eq 1 || $vo.kefuid eq session('id')"}
				<td class="daozhen">
					<input type="hidden" name="id" value="{$vo.id}" class="trid">
					<select class="form-control">
						<option value="0">未到诊</option>
						<option value="1">已到诊</option>
					</select>
				</td>
				{else}
				<td><span class="colorred">未到诊</span></td>
				{/if}
				{else}
				<td><span class="colorgreen">已到诊</span></td>
				{/if}
				<td>AT{$vo.id}</td>
				<td>{$vo.name} | {$vo.sex}{if condition="$vo.age" } | {$vo.age}岁{else}{/if}{if condition="$vo.czfz eq 1"} | 初诊{else}复诊{/if}{if condition="$vo.kefuid eq session('id')"} | {$vo.tel}{/if}</td>
				<td>{$vo.djtime}</td>
				<td>{if condition="!$vo.yytime" }-{else}{$vo.yytime}{/if}</td>
				<td class="dztime">{if condition="!$vo.dztime" }-{else}<span class="colorred">{$vo.dztime}</span>{/if}</td>
				<td>{$vo.kefu}</td>
				<td>{$vo.disease}</td>
				<td>
					{if condition="session('type') eq 1 || $vo.kefuid eq session('id')"}
					<a href="{:url('edit', array('id'=>$vo.id))}">修改</a>
					{else}
					{/if}
					<!--<a href="{:url('delfalse', array('id'=>$vo.id))}" onclick="return confirm('确认删除该信息到回收站？')">删除</a>-->
					<!--<a href="{:url('preview', array('id'=>$vo.id))}">预览</a>-->
				</td>
			</tr>
			{/volist}
			</tbody>
		</table>
	</div>
</div>
{include file="public/footer" /}
<script>
    $('.daozhen').find('select').each(function(){
        $(this).change(function(){
            var daozhen = $(this).val();
            var id = $(this).parent().find('.trid').val();
            var _this = $(this);
            $.ajax({
                type: 'post',
                data: {'daozhen':daozhen,'id':id},
                success: function(data){
                    alert('成功修改为已到诊');
                    _this.parent().parent().find('.dztime').html('<span class="colorred">'+ data[0].dztime +'</span>');
                    _this.parent().html('<span class="colorgreen">已到诊</span>');
                },
                error:function(error){
                    console.log(error);
                }
            })
        })
    })
</script>
</body>
</html>