<!DOCTYPE html>
<html lang="zh-CN">
<head>
	{include file="public/head" /}
	<title>今日添加</title>
</head>
<body>
{include file="public/header" /}
<div class="container-fluid">
	{include file="public/left" /}
	<div class="col-lg-9 col-md-9 col-sm-9">
		<h3>今日添加</h3>
		<table class="table table-bordered table-hover">
			<thead>
			<tr>
				<th>点诊</th>
				<th>预约号</th>
				<th>患者</th>
				<th>预约时间</th>
				<th>到诊时间</th>
				<th>客服</th>
				<th>病情描述</th>
				<th>操作</th>
			</tr>
			</thead>
			<tbody>
			{volist name="orderList" id="vo"}
			<tr>
				{if condition="!$vo.dztime" }
				<td><span style="color: red;">未到诊</span></td>
				{else }
				<td><span style="color: green;">到诊</span></td>
				{/if}
				<td>AT{$vo.id}</td>
				<td>{$vo.name} | {$vo.sex} | {if condition="$vo.dztime" }{$vo.age}岁 |{else}{/if} {$vo.tel}</td>
				<td>{$vo.yytime}</td>
				<td>{if condition="$vo.dztime" }{$vo.dztime}{else}未确定{/if}</td>
				<td>{$vo.kefu}</td>
				<td>{$vo.desc}</td>
				<td>
					<a href="{:url('edit', array('id'=>$vo.id))}">修改</a>
					<a href="{:url('delfalse', array('id'=>$vo.id))}" onclick="return confirm('确认删除该信息到回收站？')">删除</a>
				</td>
			</tr>
			{/volist}
			</tbody>
		</table>
		{$orderList->render()}
	</div>
</div>
{include file="public/footer" /}
</body>
</html>