<!DOCTYPE html>
<html lang="zh-CN">
<head>
	{include file="public/head" /}
	<title>全部信息</title>
</head>
<body>
{include file="public/header" /}
<div class="container-fluid">
	{include file="public/left" /}
	<div class="col-lg-10 col-md-10 col-sm-10">
		<h3 id="query">全部信息（点击展开查询）（目前只支持单选项查询，开始结束时间可双选）</h3>
		<div class="row" id="queryrow" style="display: none;">
			<form action="" method="post" id="myform" name="myform" enctype="multipart/form-data">
				<div class="col-lg-2">
					<div class="form-group">
						<label for="begintime">开始时间</label>
						<input type="text" value="" class="form-control Wdate" id="begintime" name="begintime" onClick="WdatePicker({el:this,dateFmt:'yyyy-MM-dd'})">
					</div>
				</div>
				<div class="col-lg-2">
					<div class="form-group">
						<label for="endtime">结束时间</label>
						<input type="text" value="" class="form-control Wdate" id="endtime" name="endtime" onClick="WdatePicker({el:this,dateFmt:'yyyy-MM-dd'})">
					</div>
				</div>
				<div class="col-lg-2">
					<div class="form-group">
						<label for="kefu">客服</label>
						<input type="text" value="" class="form-control" id="kefu" name="kefu">
					</div>
				</div>
				<div class="col-lg-2">
					<div class="form-group">
						<label for="id">预约号</label>
						<input type="text" value="" class="form-control" id="id" name="id">
					</div>
				</div>
				<div class="col-lg-2">
					<div class="form-group">
						<label for="disease">病种</label>
						<input type="text" value="" class="form-control" id="disease" name="disease">
					</div>
				</div>
				<div class="col-lg-2">
				</div>
				<div class="col-lg-12">
				</div>
				<div class="col-lg-2">
					<div class="form-group">
						<label for="name">姓名</label>
						<input type="text" value="" class="form-control" id="name" name="name">
					</div>
				</div>
				<div class="col-lg-2">
					<div class="form-group">
						<label for="beizhu">备注</label>
						<input type="text" value="" class="form-control" id="beizhu" name="beizhu">
					</div>
				</div>
				<div class="col-lg-2">
					<div class="form-group">
						<label for="tel">电话</label>
						<input type="text" value="" class="form-control" id="tel" name="tel">
					</div>
				</div>
				<div class="col-lg-2">
					<div class="form-group">
						<label for="weixin">微信</label>
						<input type="text" value="" class="form-control" id="weixin" name="weixin">
					</div>
				</div>
				<div class="col-lg-2">
					<div class="form-group">
						<label for="qq">QQ</label>
						<input type="text" value="" class="form-control" id="qq" name="qq">
					</div>
				</div>
				<div class="col-lg-12">
					<button type="submit" class="btn btn-default">查询</button>
				</div>
			</form>
		</div>
		<hr>
		<table class="table table-bordered table-hover">
			<thead>
			<tr>
				<th>点诊</th>
				<th>预约号</th>
				<th>患者信息</th>
				<th>登记时间</th>
				<th>预约时间</th>
				<th>到诊时间</th>
				<th>客服</th>
				<th>病种</th>
				<th>操作</th>
			</tr>
			</thead>
			<tbody>
			{volist name="orderList" id="vo"}
			<tr>
				{if condition="$vo.daozhen eq 0" }
					{if condition="session('type') eq 1 || $vo.kefuid eq session('id')"}
					<td class="daozhen">
						<input type="hidden" name="id" value="{$vo.id}" class="trid">
						<select class="form-control">
							<option value="0">未到诊</option>
							<option value="1">已到诊</option>
						</select>
					</td>
					{else}
					<td><span class="colorred">未到诊</span></td>
					{/if}
				{else}
				<td><span style="color: green;">已到诊</span></td>
				{/if}
				<td>AT{$vo.id}</td>
				<td>{$vo.name} | {$vo.sex}{if condition="$vo.age" } | {$vo.age}岁{else}{/if}{if condition="$vo.czfz eq 1"} | 初诊{else}复诊{/if}{if condition="$vo.kefuid eq session('id')"} | {$vo.tel}{/if}</td>
				<td>{$vo.djtime}</td>
				<td>{if condition="!$vo.yytime" }-{else}{$vo.yytime}{/if}</td>
				<td class="dztime">{if condition="!$vo.dztime" }-{else}<span class="colorred">{$vo.dztime}</span>{/if}</td>
				<td>{$vo.kefu}</td>
				<td>{$vo.disease}</td>
				<td>
					{if condition="session('type') eq 1 || $vo.kefuid eq session('id')"}
					<a href="{:url('edit', array('id'=>$vo.id))}">修改</a>
					{else}
					{/if}
					<!--<a href="{:url('delfalse', array('id'=>$vo.id))}" onclick="return confirm('确认删除该信息到回收站？')">删除</a>-->
					<!--<a href="{:url('preview', array('id'=>$vo.id))}">预览</a>-->
				</td>
			</tr>
			{/volist}
			</tbody>
		</table>
		{$orderList->render()}
	</div>
</div>
{include file="public/footer" /}
<script language="javascript" type="text/javascript" src="/public/static/admin/lib/My97DatePicker/WdatePicker.js"></script>
<script>
	$('#query').click(function(){
		$('#queryrow').toggle();
	});
	$('.daozhen').find('select').each(function(){
        $(this).change(function(){
            var daozhen = $(this).val();
            var id = $(this).parent().find('.trid').val();
            var _this = $(this);
            $.ajax({
                type: 'post',
                data: {'daozhen':daozhen,'id':id},
                success: function(data){
                    alert('成功修改为已到诊');
                    _this.parent().parent().find('.dztime').html('<span class="colorred">'+ data[0].dztime +'</span>');
                    _this.parent().html('<span class="colorgreen">已到诊</span>');
                },
                error:function(error){
                    console.log(error);
                }
            })
        })
	})
</script>
</body>
</html>