<!DOCTYPE html>
<html lang="zh-CN">
<head>
	{include file="public/head" /}
	<title>今日到诊</title>
</head>
<body>
{include file="public/header" /}
<div class="container-fluid">
	{include file="public/left" /}
	{include file="public/collgright" /}
		<h3>今日到诊</h3>
		{include file="public/search" /}
		<table class="table table-bordered table-hover">
			{include file="public/liststhead" /}
			<tbody>
			{volist name="orderList" id="vo"}
			<tr>
				{if condition="$vo.daozhen eq 0" }
				<td class="daozhen">
					<input type="hidden" name="id" value="{$vo.id}" class="trid">
					<select class="form-control dianzhen">
						<option value="0">未到诊</option>
						<option value="1">已到诊</option>
					</select>
				</td>
				{else}
				<td><span class="colorgreen"><b>已到诊</b></span></td>
				{/if}
				<td>AT{$vo.id}</td>
				<td class="relative"><span class="displaylt" data-id="{$vo.id}"><b>{$vo.name}</b> | {$vo.sex}{if condition="$vo.age" } | {$vo.age}岁{else}{/if}<br>{if condition="$vo.czfz eq 1"}初诊{else}复诊{/if}<br>{if condition="(session('type') eq 1 || session('type') eq 3 || $vo.kefuid eq session('id')) && $vo.tel"}{$vo.tel}{/if}</span><div class="jumbotron">和{$vo.name}的聊天记录：<div class="liaotian" id="editor{$vo.id}">"<div><?php echo htmlspecialchars_decode($vo['liaotian']);?></div>"</div></div></td>
				<td class="djtime">{$vo.djtime}<br><span class="colorred">{$vo.keshi} | {$vo.doctor}</span></td>
				<td class="yytime">{if condition="!$vo.yytime" }-{else}{$vo.yytime|substr=0,10}{/if}</td>
				<td class="dztime">{if condition="!$vo.dztime" }-{else}<span class="colorred"><b>{$vo.dztime}</b></span>{/if}</td>
				<td>{$vo.kefu}</td>
				<td style="text-align: left!important;">
					渠道：{$vo.qudao}<br>
					<span class="colorgreen">病种：{$vo.disease}</span><br>
					<span class="colorpurple">描述：{$vo.desc}<br>
						备注：{$vo.beizhu}</span>
				</td>
				<td>
					<a href="{:url('edit', array('id'=>$vo.id))}">修改</a>
				</td>
			</tr>
			{/volist}
			</tbody>
		</table>
		{$orderList->render()}
	</div>
</div>
{include file="public/footer" /}
</body>
</html>