<!DOCTYPE html>
<html lang="zh-CN">
<head>
	{include file="public/head" /}
	<title>自助预约挂号</title>
</head>
<body>
{include file="public/header" /}
<div class="container-fluid">
	{include file="public/left" /}
	{include file="public/collgright" /}
		<h3>网站预约挂号 <span class="colorgreen fs15">当前在线：{if condition="$online"}{$online[0]['name']}{else}目前没人在线{/if}</span></h3>
		{include file="public/searchantaibao" /}
		<table class="table table-bordered table-hover">
			<thead>
			<tr>
				<th>ID</th>
				<th>提交时间</th>
				<th>处理时间 - 客服</th>
				<th>预约时间</th>
				<th>IP</th>
				<th>姓名</th>
				<th>电话</th>
				<th width="10%">描述</th>
				<th>归属地</th>
				<th>设备</th>
				<th width="1%">网址</th>
				<th>备注</th>
				<th width="6%">操作</th>
			</tr>
			</thead>
			<tbody>
			{volist name="patientLists" id="vo"}
			<tr>
				<td>{$vo.id}</td>
				<td class="tjtime">{$vo.tjtime}</td>
				<td>{if condition="$vo.shtime"}{$vo.shtime}<br>{$vo.kefuname}{/if}</td>
				<td>{$vo.shijian}</td>
				<td><span class="ipaddress">{$vo.ipadd}</span>{if condition="session('type') eq 1"}<br><a data-id="{$vo.id}" data-ip="{$vo.ip}" class="black" href="javascript:;" data-type="ip">加入黑名单</a>{/if}</td>
				<td>{$vo.name}</td>
				<td>{if condition="session('type') eq 1 || session('type') eq 3 || session('id') eq $vo.kefuid || $vo.queren eq 0"}{$vo.dianhua}{elseif condition="$vo.queren eq 1"}*******{$vo.dianhua|substr=-4}{/if}<span class="colorred">{volist name="tel" id="telvo"}{if condition="$vo.dianhua eq $telvo.dianhua && $telvo['count(dianhua)'] gt 1"}({$telvo['count(dianhua)']}){/if}{/volist}</span>{if condition="session('type') eq 1"}<br><a data-id="{$vo.id}" data-tel="{$vo.dianhua}" class="black" href="javascript:;" data-type="tel">加入黑名单</a>{/if}</td>
				<td>{$vo.miaoshu}</td>
				<td>{$vo.padd}</td>
				<td>{$vo.shebei}</td>
				<td><a href="{$vo.url}" target="_blank">{$vo.url}</a>{if condition="session('type') eq 1"}<br><a data-id="{$vo.id}" data-url="{$vo.url}" class="black" href="javascript:;" data-type="url">加入黑名单</a>{/if}</td>
				<td>{$vo.beizhu}</td>
				<td>
					{if condition="$vo.queren eq 0" }<span class="colorred">未处理</span>
					{elseif condition="$vo.queren eq 1"}<span class="colorgreen">已处理</span>
					{else}无效
					{/if}
					{if condition="$vo.queren eq 0 || session('type') eq 1 || session('type') eq 3 || $vo.kefuid eq session('id')"}
					<a href="{:url('edit', array('id'=>$vo.id))}">修改</a>
					{else}
					{/if}
					<!--<a href="{:url('del', array('id'=>$vo.id))}" onclick="return confirm('确定删除？')">删除</a>-->
				</td>
			</tr>
			{/volist}
			</tbody>
		</table>
		{$patientLists->render()}
	</div>
</div>
{include file="public/footer" /}
<script src="/public/static/admin/lib/js/jquery.min.js"></script>

<script>
	(function(){
        var nowDate = new Date();
        var timeStr = nowDate.getFullYear()+"-"+(addzero(nowDate.getMonth() + 1))+"-"+addzero(nowDate.getDate());
		$('tbody tr').each(function(){
		    var tjdate = $(this).find('.tjtime').html().substr(0, 10)
			if(tjdate == timeStr){
		        $(this).addClass('backcolor58AFD8')
			}
		})
	})();
    (function () {
        $('.ipaddress').each(function(){
            var ipaddressval = $(this).html();
            var ipaddressarr = ipaddressval.split('-');
            console.log(ipaddressarr);
            if(ipaddressarr[1]){
                $(this).html(ipaddressarr[0] + "<br>" + ipaddressarr[1])
            }else{
                $(this).html(ipaddressarr[0] + "<br>" + '未知')
            }
        })
    })();
    (function(){
        $('.black').each(function () {
            $(this).click(function(){
                var dataid = $(this).attr('data-id');
                var ip = $(this).attr('data-ip');
                var tel = $(this).attr('data-tel');
                var url = $(this).attr('data-url');
                if($(this).attr('data-type') == 'ip'){
                    var posturl = '/index.php/admin/patient/blackip';
                }else if($(this).attr('data-type') == 'tel'){
                    var posturl = '/index.php/admin/patient/blacktel';
                }else if($(this).attr('data-type') == 'url'){
                    var posturl = '/index.php/admin/patient/blackurl';
                }
                if(confirm('确定加入黑名单？')){
                    $.ajax({
                        type: 'post',
                        url: posturl,
                        data: {
                            'id': dataid,
                            'ip': ip,
                            'tel': tel,
                            'url': url,
                        },
                        success: function(data){
                            alert(data);
                            location.reload();
                        },
                        error: function (error) {
                            console.log(error)
                        }
                    })
                }
            })
        })
    })();
    setInterval(function () {
        $.get('/index.php/admin/patient/listsAjax',function(data1){
            if(data1.data.length){
                var text='有未处理信息~有未处理信息~';
                var timerID;
                newtext();
                function newtext() {
                    clearTimeout(timerID)
                    document.title=text.substring(1,text.length)+text.substring(0,1)
                    text=document.title.substring(0,text.length)
                    timerID = setTimeout(function(){newtext()}, 250)
                }
            }
            // var len = data1.total;
            // var storage = localStorage.getItem("patientResult");
            // if (storage == null) {
            //     console.log('localstorage目前是空的');
            //     localStorage.setItem("patientResult", len);
            // }else{
	         //    console.log(data1.total, parseInt(storage));
				// if(data1.total != parseInt(storage)){
				//     console.log('数据变化了')
            //         var text='有新消息~有新消息~有新消息~';
            //         var timerID;
            //         newtext();
            //         function newtext() {
            //             clearTimeout(timerID)
            //             document.title=text.substring(1,text.length)+text.substring(0,1)
            //             text=document.title.substring(0,text.length)
            //             timerID = setTimeout(function(){newtext()}, 250)
            //         }
            //         desktop();
            //         var len = data1.total;
            //         localStorage.setItem("patientResult", len);
				// }else{
				//     console.log('数据没有变化，不提醒')
				// }
            // }
            // localStorage.setItem("patientResult" + len + "", len); //存储的时候 使用JSON.stringify()将对象解析出字符串

            // console.log(data1.total)
            // console.log(data1.data[0].id);
            // console.log(data1.data.length)
            // console.log($.trim(data1));
            // document.title = data1.data[0].id +'个患者了';
        })
    },10000)

	function tixing(){
        var titleInit = document.title, isShine = true;
        setInterval(function() {
            var title = document.title;
            if (isShine == true) {
                if (/新/.test(title) == false) {
                    document.title = '【你有新消息】';
                } else {
                    document.title = '【　　　　　】';
                }
            } else {
                document.title = titleInit;
            }
        }, 500);
	}

	function desktop(){
        if (window.Notification) {
            var button = document.getElementById('button'), text = document.getElementById('text');
            var popNotice = function() {
                if (Notification.permission == "granted") {
                    var notification = new Notification("通知", {
                        body: '网站预约挂号有新信息',
                        icon: 'http://image.zhangxinxu.com/image/study/s/s128/mm1.jpg'
                    });

                    // notification.onclick = function() {
                    //     text.innerHTML = '张小姐已于' + new Date().toTimeString().split(' ')[0] + '加你为好友！';
                    //     notification.close();
                    // };
                }
            };
            if (Notification.permission == "granted") {
                popNotice();
            } else if (Notification.permission != "denied") {
                Notification.requestPermission(function (permission) {
                    popNotice();
                });
            }
        } else {
            alert('浏览器不支持Notification');
        }
	}
    function addzero(dateVal) {
        return dateVal < 10 ? '0' + dateVal: dateVal;
    }
</script>
</body>
</html>