html,body{
	width: 100%;
	max-width: 640px;
	margin: 0;
	padding:0;
	background-color: #fff;
	overflow-x: hidden;
	font-family: '微软雅黑';
	-webkit-overflow-scrolling:touch;
}
html,body{
	margin: 0 auto;
}
body{
	padding-top: 0.9rem;
	padding-bottom: 0.88rem;
}
form,input,button,textarea,p{
	margin: 0;
	padding: 0;
	outline: none;
}
ul,ol,li{
	list-style: none;
	padding: 0;
	margin: 0;
}
h1,h2,h3,h4,h5,h6{
	margin: 0;
	padding: 0;
	font-weight: normal;
}
a{
	text-decoration: none;
}
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.head{
	width: 100%;
	max-width: 640px;
	height: 0.9rem;
	background-color: #785e4d;
	position: fixed;
	left: 50%;
	/*top: 0.7rem;*/
	top: 0;
	-webkit-transform: translateX(-50%);
	        transform: translateX(-50%);
	z-index: 10;
}
.head .home{
	width: 0.39rem;
	height: 0.37rem;
	float: left;
	margin: 0.27rem 0 0 0.41rem;
	display: block;
	cursor: pointer;
}
.head .home img{
	width: 100%;
	display: block;
}
.head .logo{
	width: 3.14rem;
	height: 0.5rem;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
	        transform: translate3d(-50%,-50%,0);
}
.head .logo img{
	max-width: 100%;
	max-height: 100%;
	display: block;
}
.head .logo h3{
	display: none;
}
.head .logo h4{
	display: none;
}
.navbar{
	width: 0.32rem;
	height: 0.27rem;
	float: right;
	margin: 0.32rem 0.6rem 0 0;
	cursor: pointer;
}
.navbar img{
	width: 100%;
	display: block;
}
/*menu*/
.menu{
	width: 100%;
	max-width: 640px;
	height: 100%;
	position: fixed;
	left: -51%;
	/*left: 50%;*/
	-webkit-transform: translateX(-50%);
	        transform: translateX(-50%);
	top: 0;
	background-color: rgba(0,0,0,0.6);
	/*background-color: yellowgreen;*/
	z-index: 11;
	/*padding-top: 0.7rem;*/
}
.menu .case{
	width: 100%;
	height: 0.9rem;
	line-height: 0.9rem;
	text-align: center;
	font-size: 0.4rem;
	background-color: #785f4d;
	font-weight: bold;
	color: #fff;
	position: relative;
}
.menu .case .close{
	position: absolute;
	right: 0.2rem;
	top: 50%;
	-webkit-transform: translateY(-50%);
	        transform: translateY(-50%);
	width: 0.56rem;
	height: 0.39rem;
	background-image: url(../images/icon4.png);
	background-repeat: no-repeat;
	background-size: contain;
	cursor: pointer;
}
.disease{
	width: 100%;
	background-color: #fff;
}
.xiangmu>ul>li{
	width: 25%;
	float: left;
	box-sizing: border-box;
	height: 0.76rem;
	line-height: 0.76rem;
	cursor: pointer;
	text-align: center;
	font-size: 0.25rem;
	color: #fff;
	background-color: #bca289;
	border-bottom: 0.01rem solid #fff;
	border-right: 0.01rem solid #fff;
}
.xiangmu1>ul>li:last-child,.xiangmu2>ul>li:last-child,.xiangmu3>ul>li:last-child,.xiangmu4>ul>li:last-child,.xiangmu5>ul>li:last-child{
	border-right: none;
}
.xiangmu5>ul>li{
	border-bottom: none;
}
.xiangmu>ul>li>a{
	color: #fff;
}
.diseaseall .swiper-wrapper{
	margin-top: 0.76rem;
}
.diseaseall .swiper-pagination{
	top: 0;
	bottom: auto;	
}
.diseaseall .swiper-pagination-bullet{
	width: 25%;
	float: left;
	box-sizing: border-box;
	height: 0.76rem;
	line-height: 0.76rem;
	cursor: pointer;
	text-align: center;
	font-size: 0.25rem;
	color: #fff;
	border-radius: 0;
	background-color: #bca289;
	border-bottom: 0.01rem solid #fff;
	border-right: 0.01rem solid #fff;
	opacity: 1;
	margin: 0!important;
}
.diseaseall .swiper-pagination-bullet a{
	color: #fff;
}
.disease1 .swiper-pagination-bullet:nth-child(1):before{
	content: '不孕不育';
}
.disease1 .swiper-pagination-bullet:nth-child(2):before{
	content: '孕前服务';
}
.disease1 .swiper-pagination-bullet:nth-child(3):before{
	content: '卵巢疾病';
}
.disease1 .swiper-pagination-bullet:nth-child(4):before{
	content: '习惯性流产';
}
.disease2 .swiper-pagination-bullet:nth-child(1):before{
	content: '子宫疾病';
}
.disease2 .swiper-pagination-bullet:nth-child(2):before{
	content: '孕期服务';
}
.disease2 .swiper-pagination-bullet:nth-child(3):before{
	content: '计划生育';
}
.disease2 .swiper-pagination-bullet:nth-child(4):before{
	content: '内分泌疾病';
}
.disease3 .swiper-pagination-bullet:nth-child(1):before{
	content: '子宫畸形';
}
.disease3 .swiper-pagination-bullet:nth-child(2):before{
	content: '孕期问题';
}
.disease3 .swiper-pagination-bullet:nth-child(3):before{
	content: '口腔科';
}
.disease3 .swiper-pagination-bullet:nth-child(4):before{
	content: '外阴及阴道';
}
.disease4 .swiper-pagination-bullet:nth-child(1):before{
	content: '宫颈疾病';
}
.disease4 .swiper-pagination-bullet:nth-child(2):before{
	content: '分娩服务';
}
.disease4 .swiper-pagination-bullet:nth-child(3):before{
	content: '产后服务';
}
.disease4 .swiper-pagination-bullet:nth-child(4):before{
	content: '输卵管疾病';
}
.disease5 .swiper-pagination-bullet:nth-child(1):before{
	content: '宫腔疾病';
}
.disease5 .swiper-pagination-bullet:nth-child(2):before{
	content: '套餐选择';
}
.disease5 .swiper-pagination-bullet:nth-child(3):before{
	content: '其他项目';
}
.diseaseall .swiper-pagination-bullet-active{
	background-image: url(../images/icon5.png);
	background-size: 18%;
	background-repeat: no-repeat;
	background-position: center bottom;
}
.diseaseall .swiper-slide{
	background-color: #fff;
}
.diseaseall .swiper-slide .detail{
	padding: 0.3rem 0 0;
}
/*.diseaseall .swiper-slide .detail ul li{
	float: left;
	box-sizing: border-box;
	margin-right: 0.3rem;
	margin-bottom: 0.3rem;
	position: relative;
}*/
.diseaseall .swiper-slide .detail ul li{
	width: 25%;
	float: left;
	box-sizing: border-box;
	text-align: center;
	margin-bottom: 0.3rem;
	position: relative;
	font-size: 0.241rem;
}
.diseaseall .swiper-slide .detail .hot:after{
	content: '';
	width: 0.22rem;
	height: 0.12rem;
	position: absolute;
	right: -0.2rem;
	top: -0.08rem;
	background-image: url(../images/hot.png);
	background-size: contain;
}
.diseaseall .swiper-slide .detail ul li a{
	font-size: 0.241rem;
	color: #333333;
	position: relative;
}
/*.diseaseall .swiper-slide .detail ul li:last-child:before{
	content: '';
	float: none;
}*/
.diseaseall .swiper-slide .detail ul li:last-child a{
	background-color: #db5237;
	padding: 0.11rem 0.2rem;
	color: #fff;
	border-radius: 0.25rem;
}
.swiper-pagination-bullet{
	outline: none;
}
/*footer*/
.guahao{
	padding: 0.5rem 0.29rem 0;
	width: 5.82rem;
	margin: 0 auto;
	border-top: 0.15rem solid #d8d8d8;
}
.guahao h3{
	text-align: center;
	font-size: 0.33rem;
	color: #333333;
	font-weight: bold;
}
.guahao h4{
	text-align: center;
	font-size: 0.241rem;
	padding-top: 0.1rem;
}
.guahao h4 span{
	color: #fc5350;
}
.guahao form{
	padding-top: 0.35rem;
	padding-bottom: 0.35rem;
}
.guahao form p{
	height: 0.72rem;
	margin-bottom: 0.2rem;
	font-size: 0.241rem;
	color: #666666;
}
.guahao form input[type="text"]{
	width: 5.8rem;
	height: 0.7rem;
	line-height: 0.7rem;
	border: 0.01rem solid #cccccc;
	background-color: #f5f5f5;
	border-radius: 0.1rem;
	float: left;
	text-indent: 0.8rem;
	background-size: 10%;
	background-repeat: no-repeat;
	background-position: 0.06rem center;
	font-size: 0.241rem;
	color: #666666;
}
.guahao .name{
	background-image: url(../images/name.png);
}
.guahao .tel{
	background-image: url(../images/tel.png);
}
.guahao .timenew{
	background-image: url(../images/time.png);
}
.guahao .time{
	background-image: url(../images/time.png);
	background-size: 10%;
	background-repeat: no-repeat;
	background-position: 0.06rem center;
	text-indent: 0.8rem;
	line-height: 0.72rem;
}
.guahao form textarea{
	width: 5.8rem;
	height: 1.4rem;
	border: 0.01rem solid #cccccc;
	padding: 0.17rem;
	background-color: #f5f5f5;
	border-radius: 0.1rem;
	font-size: 0.241rem;
	box-sizing: border-box;
	color: #666666;
}
.guahao form p:nth-child(7){
	height: auto;
}
.guahao form p:nth-child(8){
	display: none;
}
.guahao form p:nth-child(9){
	height: 0.68rem;
}
.guahao form p button, .guahao form p a{
	width: 2.18rem;
	height: 0.68rem;
	color: #fff;
	line-height: 0.68rem;
	border-radius: 0.14rem;
	font-size: 0.3rem;
	display: block;
	float: left;
	text-align: center;
	cursor: pointer;
}
.guahao form p button{
	background-color: #c03933;
	border: none;
	margin-left: 0.6rem;
}
.guahao form p a{
	background-color: #f29700;
	margin-left: 0.27rem;
}

.foot{
	width: 100%;
	height: 4.9rem;
	background-color: #434448;
	background-image: url(../images/map.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center 1.5rem;
}

.foot .contact{
	/*width: 5.87rem;*/
	margin: 0 auto;
	padding: 0.3rem;
}
.foot .contact > a{
	display: block;
	height: 1.16rem;
}
.foot .contact > a img{
	width: 100%;
}
.foot .jyl{
	width: 2.78rem;
	height: 2.27rem;
	float: left;
	margin: 0.51rem 0 0 0;
}
.foot .jyl > a{
	height: 100%;
	width: 100%;
	display: block;
}
.foot .jyl img{
	width: 100%;
}
.foot .right{
	width: 2.9rem;
	margin: 0.6rem 0 0 0;
	float: right;
}
.foot .right ul li{
	color: #fff;
	text-indent: 0.72rem;
	background-size: contain;
	background-repeat: no-repeat;
	margin-bottom: 0.2rem;
}
.foot .right ul li:nth-child(1){
	background-image: url(../images/menzhen.png);
}
.foot .right ul li:nth-child(2){
	background-image: url(../images/dizhi.png);
}
.foot .right ul li:nth-child(3){
	text-indent: 0;
}
.foot .right ul li h3, .foot .right ul li h4{
	font-size: 0.241rem;
}
.foot .right ul li a{
	width: 1.29rem;
	height: 0.52rem;
	display: block;
	font-size: 0.241rem;
	float: left;
	color: #fff;
	text-align: center;
	line-height: 0.52rem;
	border-radius: 0.06rem;
	margin-left: 0.07rem;
}
.foot .right ul li a:nth-child(1){
	background-color: #c03933;
}
.foot .right ul li a:nth-child(2){
	background-color: #f29700;
}
.copyright{
	text-align: center;
	color: #484848;
	padding: 0.17rem 0;
}
.copyright h3{
	/*font-size: 0.25rem;*/
	font-size: 0.2rem;
}
.copyright h4{
	/*font-size: 0.241rem;*/
	font-size: 0.2rem;
	padding-top: 0.02rem;
}
.youhui{
	width: 1rem;
	height: 1.25rem;
	position: fixed;
	right: 0;
	top: 50%;
	/*background-image: url(../images/youhui.png);*/
	background-image: url(../images/youhuihd.png);
	background-repeat: no-repeat;
	background-size: contain;
	z-index: 10;
}
.footbot{
	width: 100%;
	max-width: 640px;
	background-color: #785f4d;
	position: fixed;
	left: 50%;
	bottom: 0;
	-webkit-transform: translateX(-50%);
	        transform: translateX(-50%);
	z-index: 10;
}
.footbot ul li{
	width: 25%;
	height: 0.9rem;
	box-sizing: border-box;
	float: left;
	text-align: center;
	font-size: 0.241rem;
	border-right: 0.01rem solid #af9c8c;
	background-repeat: no-repeat;
	background-position: center 0.11rem;
}
.footbot ul li a{
	color: #e7d8c1;
	font-size: 0.241rem;	
}
.footbot ul li img{
	padding-top: 0.09rem;
	height: 0.4rem;
	display: inline;
}
.footbot .telzx{
	animation: twinkling1 1s infinite steps(1, start);
	-moz-animation: twinkling1 1s infinite steps(1, start);
	-ms-animation: twinkling1 1s infinite steps(1, start);
	-o-animation: twinkling1 1s infinite steps(1, start);
	-webkit-animation: twinkling1 1s infinite steps(1, start);
}
.footbot .zxzx{
	animation: twinkling2 1s infinite steps(1, start);
	-moz-animation: twinkling2 1s infinite steps(1, start);
	-ms-animation: twinkling2 1s infinite steps(1, start);
	-o-animation: twinkling2 1s infinite steps(1, start);
	-webkit-animation: twinkling2 1s infinite steps(1, start);
}
.footbot ul li:nth-child(4) img{
	border-right: none;
}
@keyframes twinkling1{    /*透明度由0到1*/
	0%, 100%{
	   opacity:0; /*透明度为0*/
	}
	50%{
	   opacity:1; /*透明度为1*/
	}
}
@-webkit-keyframes twinkling1{    /*透明度由0到1*/
	0%, 100%{
	   opacity:0; /*透明度为0*/
	}
	50%{
	   opacity:1; /*透明度为1*/
	}
}
@keyframes twinkling2{    /*透明度由0到1*/
	0%, 100%{
	   opacity:1; /*透明度为0*/
	}
	50%{
	   opacity:0; /*透明度为1*/
	}
}
@-webkit-keyframes twinkling2{    /*透明度由0到1*/
	0%, 100%{
	   opacity:1; /*透明度为0*/
	}
	50%{
	   opacity:0; /*透明度为1*/
	}
}
@media screen and (min-width:640px){
    html{font-size: 100px;}
}
@media screen and (min-width:600px) and (max-width:639px){
    html{font-size: 93.75px;}
}
@media screen and (min-width:480px) and (max-width:599px){
    html{font-size: 75px;}
}
@media screen and (min-width:425px) and (max-width:479px){
    html{font-size: 66.4063px;}
}
@media screen and (min-width:414px) and (max-width:424px){
    html{font-size: 64.6875px;}
}
@media screen and (min-width:412px) and (max-width:413px){
    html{font-size: 64.375px;}
}
@media screen and (min-width:384px) and (max-width:411px){
    html{font-size: 60px;}
}
@media screen and (min-width:375px) and (max-width:383px){
    html{font-size: 58.5938px;}
}
@media screen and (min-width:360px) and (max-width:374px){
    html{font-size: 56.25px;}
}
@media screen and (min-width:320px) and (max-width:359px){
    html{font-size: 50px;}
}
/*diy-bot*/
#diy-bot{
	width:100%;
	position:fixed;
	bottom:0px;
	left:0;
	z-index:51;
	display:none;
}
.diy-box{
	max-width:640px;
	margin:0 auto;
}
.diy-box h2{
	height: 0.6rem;
	background:#353438;
	color:#fff;
	font-size:0.241rem;
	text-align:center;
	line-height:0.6rem;
	font-weight:normal;
	position:relative;
	letter-spacing:1px;
	padding:0;
}
.diy-box h2 div{
	position:absolute;
	width:0.33rem;
	height:0.33rem;
	background:#000;
	line-height:0.33rem;
	text-align:center;
	font-size:0.241rem;
	right:0.18rem;
	top:50%;
	margin-top:-0.165rem;
	color:#fff;
	border-radius:50%;
	cursor:pointer;
	transition:all .3s linear;
}
.diy-box h2 div:hover{
	background:red;
}
.diy-cont{
	background:#EBEBEB;
	overflow:hidden;
}
.diy-cont dl{
	margin-top:0.24rem;
	overflow:hidden;
	margin-bottom:0.18rem;
}
.diy-cont dt{
	width:0.63rem;
	height:0.62rem;
	float:left;
	margin-left:0.12rem;
}
.diy-cont dt img{
	max-width:100%;
	display: block;
}
.diy-cont dd{
	font-size:0.241rem;
	background-color:#9FE75A;
	color:#000;
	padding:0.18rem 0.14rem;
	float:left;
	border-radius:0.1rem;
	border:1px solid #82C359;
	margin-left:0.15rem;
	position:relative;
	line-height:0.32rem;
}
.diy-cont dd p{
	text-align:left;
}
.diy-cont dd:after{
	content:' ';
	position:absolute;
	left:-0.09rem;
	top:0.2rem;
	width:0.1rem;
	height:0.17rem;
	background-image:url('../images/icon-01.jpg');
	background-repeat:no-repeat;
	background-position:center;
	background-size:0.1rem 0.17rem;
}
.diy-click{
	height:0.8rem;
	background:#F5F4F6 url('../images/smile.jpg') no-repeat 0.07rem center / 0.46rem 0.47rem;
	cursor:pointer;
	border-top:1px solid #DFDEDF;
	position:relative;
}
.diy-click span{
	position:absolute;
	width:0.46rem;
	height:0.47rem;
	top:0.174rem;
	left:0.05rem;
}
.diy-click span a{
	display:block;
	height:0.47rem;
}
.diy-click div{
	margin-top:0.112rem;
	margin-left:0.66rem;
	height:0.55rem;
	line-height:0.55rem;
	border:1px solid #E8E8E8;
	border-radius:0.1rem;
	font-size:0.241rem;
	color:#BFBFBF;
	text-indent:0.1rem;
	width:4rem;
}
.diy-click > a{
	height:0.56rem;
	width:1.32rem;
	background:#C40000;
	display:block;
	position:absolute;
	top:0.1024rem;
	right:0.2rem;
	font-size:0.241rem;
	text-align:center;
	line-height:0.56rem;
	border-radius:0.56rem;
	color:#fff !important;
	animation:Bshan .6s linear infinite;
	-moz-animation:Bshan .6s linear infinite;
	-ms-animation:Bshan .6s linear infinite;
	-o-animation:Bshan .6s linear infinite;
	-webkit-animation:Bshan .6s linear infinite;
}
.diy-click  a{
	display:block;
	color:#BFBFBF;
}
@keyframes Bshan{
	0%{font-size:0.26rem;}
	50%{font-size:0.26rem;}
	51%{font-size:.241rem;}
	100%{font-size:.241rem;}
}
@-moz-keyframes Bshan{
	0%{font-size:0.26rem;}
	50%{font-size:0.26rem;}
	51%{font-size:.241rem;}
	100%{font-size:.241rem;}
}
@-ms-keyframes Bshan{
	0%{font-size:0.26rem;}
	50%{font-size:0.26rem;}
	51%{font-size:.241rem;}
	100%{font-size:.241rem;}
}
@-o-keyframes Bshan{
	0%{font-size:0.26rem;}
	50%{font-size:0.26rem;}
	51%{font-size:.241rem;}
	100%{font-size:.241rem;}
}
@-webkit-keyframes Bshan{
	0%{font-size:0.26rem;}
	50%{font-size:0.26rem;}
	51%{font-size:.241rem;}
	100%{font-size:.241rem;}
}
#LRfloater1{
	font-size: 12px!important;
}