<!DOCTYPE html>
<html lang="zh-CN">
<head>
	{include file="public/head" /}
	<title>安太宝黑名单</title>
</head>
<body>
{include file="public/header" /}
<div class="container-fluid">
	{include file="public/left" /}
	{include file="public/collgright" /}
	<h3>安太宝黑名单</h3>
	{include file="public/searchantaibao" /}
	<table class="table table-bordered table-hover">
		<thead>
		<tr>
			<th>ID</th>
			<th>提交时间</th>
			<th>处理时间 - 客服</th>
			<th>IP</th>
			<th>电话</th>
			<th>归属地</th>
			<th>设备</th>
			<th width="1%">网址</th>
			<th width="12%">备注</th>
			<th>操作</th>
		</tr>
		</thead>
		<tbody>
		{volist name="patientLists" id="vo"}
		<tr>
			<td>{$vo.id}</td>
			<td class="tjtime">{$vo.tjtime}</td>
			<td>{if condition="$vo.shtime"}{$vo.shtime}<br>{$vo.kefuname}{/if}</td>
			<td><span class="ipaddress">{$vo.ipadd}</span><br><a data-id="{$vo.id}" data-ip="{$vo.ip}" class="black" href="javascript:;" data-type="ip">解除黑名单</a></td>
			<td>{$vo.dianhua}<span class="colorred">{volist name="tel" id="telvo"}{if condition="$vo.dianhua eq $telvo.dianhua && $telvo['count(dianhua)'] gt 1"}({$telvo['count(dianhua)']}){/if}{/volist}</span><br><a data-id="{$vo.id}" data-tel="{$vo.dianhua}" class="black" href="javascript:;" data-type="tel">解除黑名单</a></td>
			<td>{$vo.padd}</td>
			<td>{$vo.shebei}</td>
			<td><a href="{$vo.url}" target="_blank">{$vo.url}</a><br><a data-id="{$vo.id}" data-url="{$vo.url}" class="black" href="javascript:;" data-type="url">解除黑名单</a></td>
			<td>{$vo.beizhu}</td>
			<td>
				{if condition="$vo.queren eq 0" }<span class="colorred">未处理</span>
				{elseif condition="$vo.queren eq 1"}<span class="colorgreen">已处理</span>
				{else}无效
				{/if}
				{if condition="$vo.queren eq 0 || session('type') eq 1 || session('type') eq 3 || $vo.kefuid eq session('id')"}
				<a href="{:url('edit', array('id'=>$vo.id))}">修改</a>
				{else}
				{/if}
				<!--<a href="{:url('del', array('id'=>$vo.id))}" onclick="return confirm('确定删除？')">删除</a>-->
			</td>
		</tr>
		{/volist}
		</tbody>
	</table>
	{$patientLists->render()}
</div>
</div>
{include file="public/footer" /}
<script src="https://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>

<script>
    (function(){
        var nowDate = new Date();
        var timeStr = nowDate.getFullYear()+"-"+(addzero(nowDate.getMonth() + 1))+"-"+addzero(nowDate.getDate());
        console.log(timeStr)
        $('tbody tr').each(function(){
            var tjdate = $(this).find('.tjtime').html().substr(0, 10)
            if(tjdate == timeStr){
                $(this).addClass('backcolor58AFD8')
            }
        })
    })();
    (function () {
        $('.ipaddress').each(function(){
            var ipaddressval = $(this).html();
            ipaddressarr = ipaddressval.split('-');
            console.log(ipaddressval.split('-'));
            $(this).html(ipaddressarr[0] + "<br>" + ipaddressarr[1] + " - " + ipaddressarr[2])
        })
    })();
    (function(){
        $('.black').each(function () {
            console.log($(this));
            $(this).click(function(){
                var dataid = $(this).attr('data-id');
                var ip = $(this).attr('data-ip');
                var tel = $(this).attr('data-tel');
                var url = $(this).attr('data-url');
                if($(this).attr('data-type') == 'ip'){
                    var posturl = '/index.php/admin/antaibao/whiteip';
                }else if($(this).attr('data-type') == 'tel'){
                    var posturl = '/index.php/admin/antaibao/whitetel';
                }else if($(this).attr('data-type') == 'url'){
                    var posturl = '/index.php/admin/antaibao/whiteurl';
                }
                if(confirm('确定解除黑名单？')){
                    $.ajax({
                        type: 'post',
                        url: posturl,
                        data: {
                            'id': dataid,
                            'ip': ip,
                            'tel': tel,
                            'url': url,
                        },
                        success: function(data){
                            alert(data);
                            location.reload();
                        },
                        error: function (error) {
                            console.log(error)
                        }
                    })
                }
            })
        })
    })();
    function addzero(dateVal) {
        return dateVal < 10 ? '0' + dateVal: dateVal;
    }
</script>
</body>
</html>