<!DOCTYPE html>
<html lang="zh-CN">
<head>
	{include file="public/head" /}
	<title>安太宝</title>
</head>
<body>
{include file="public/header" /}
<div class="container-fluid">
	{include file="public/left" /}
	<div class="col-lg-10 col-md-10 col-sm-10">
		<h3>安太宝</h3>
		<hr>
		<table class="table table-bordered table-hover">
			<thead>
			<tr>
				<th>ID</th>
				<th>提交时间</th>
				<th>审核时间 - 客服</th>
				<th>IP</th>
				<th>电话</th>
				<th>归属地</th>
				<th>设备</th>
				<th width="1%">网址</th>
				<th>操作</th>
			</tr>
			</thead>
			<tbody>
			{volist name="patientLists" id="vo"}
			<tr>
				<td>{$vo.id}</td>
				<td>{$vo.tjtime}</td>
				<td>{$vo.shtime} - {$vo.kefuname}</td>
				<td>{$vo.ip}</td>
				<td>{if condition="$vo.queren eq 1"}*******{$vo.dianhua|substr=7,10}{else}{$vo.dianhua}{/if}<span class="colorred">({volist name="tel" id="telvo"}{if condition="$vo.dianhua eq $telvo.dianhua"}{$telvo['count(dianhua)']}{/if}{/volist})</span></td>
				<td>{$vo.padd}</td>
				<td>{$vo.shebei}</td>
				<td>{$vo.url}</td>
				<td>
					{if condition="$vo.queren eq 0" }<span style="color: red;">未审核</span>
					{else }<span style="color: green;">已审核</span>
					{/if}
					{if condition="$vo.queren eq 0"}
					<a href="{:url('edit', array('id'=>$vo.id))}">修改</a>
					{elseif condition="session('type') eq 1"}
					<a href="{:url('edit', array('id'=>$vo.id))}">修改</a>
					{elseif condition="$vo.kefuid eq session('id')"}
					<a href="{:url('edit', array('id'=>$vo.id))}">修改</a>
					{else}
					{/if}
					<!--<a href="{:url('del', array('id'=>$vo.id))}" onclick="return confirm('确定删除？')">删除</a>-->
				</td>
			</tr>
			{/volist}
			</tbody>
		</table>
		{$patientLists->render()}
	</div>
</div>
{include file="public/footer" /}
<script src="https://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>

<script>
    setInterval(function () {
        $.get('http://test.com/index.php/admin/patient/listsAjax',function(data1){
            var len = data1.total;
            // console.log(len);
            var storage = localStorage.getItem("radarResult");
            if (storage == null) {
                console.log('localstorage目前是空的');
                localStorage.setItem("radarResult", len);
            }else{
				// console.log(storage);
	            console.log(data1.total, parseInt(storage));
				if(data1.total != parseInt(storage)){
				    console.log('数据增加了')
                    tixing();
                    desktop()
                    var len = data1.total;
                    localStorage.setItem("radarResult", len);
				}else{
				    console.log('数据没有变化，不提醒')
				}
            }
            // localStorage.setItem("radarResult_" + len + "", len); //存储的时候 使用JSON.stringify()将对象解析出字符串

            // console.log(data1.total)
            // console.log(data1.data[0].id);
            // console.log(data1.data.length)
            // console.log($.trim(data1));
            // document.title = data1.data[0].id +'个患者了';
        })
    },10000)

	function tixing(){
        var titleInit = document.title, isShine = true;
        setInterval(function() {
            var title = document.title;
            if (isShine == true) {
                if (/新/.test(title) == false) {
                    document.title = '【你有新消息】';
                } else {
                    document.title = '【　　　　　】';
                }
            } else {
                document.title = titleInit;
            }
        }, 500);
	}

	function desktop(){
        if (window.Notification) {
            var button = document.getElementById('button'), text = document.getElementById('text');
            var popNotice = function() {
                if (Notification.permission == "granted") {
                    var notification = new Notification("通知", {
                        body: '有新患者了',
                        icon: 'http://image.zhangxinxu.com/image/study/s/s128/mm1.jpg'
                    });

                    // notification.onclick = function() {
                    //     text.innerHTML = '张小姐已于' + new Date().toTimeString().split(' ')[0] + '加你为好友！';
                    //     notification.close();
                    // };
                }
            };
            if (Notification.permission == "granted") {
                popNotice();
            } else if (Notification.permission != "denied") {
                Notification.requestPermission(function (permission) {
                    popNotice();
                });
            }
        } else {
            alert('浏览器不支持Notification');
        }
	}
</script>
</body>
</html>