<!DOCTYPE html>
<html lang="zh-CN">
<head>
	{include file="public/head" /}
	<title><?php echo session('name'); ?>登记的信息_{$Think.BASETITLE}</title>
</head>
<body>
{include file="public/header" /}
<div class="container-fluid">
	{include file="public/left" /}
	{include file="public/collgright" /}
		<h3><?php echo session('name'); ?>登记的信息（目前只支持单选项查询，开始结束时间可双选）</h3>
		{include file="public/searchmyself" /}
		<table class="table table-bordered table-hover">
			{include file="public/listsmyselfthead" /}
			<tbody>
			{volist name="orderList" id="vo"}
			<tr>
				{if condition="$vo.daozhen eq 0"}
				<td class="daozhen">
					<input type="hidden" name="id" value="{$vo.id}" class="trid">
					<select class="form-control dianzhen">
						<option value="0">未到店</option>
						<option value="3">到店检测</option>
						<option value="1">到店已维修</option>
						<option value="2">到店未维修</option>
					</select>
				</td>
				{elseif condition="$vo.daozhen eq 3"}
				<td><span class="colorpurple"><b>到店检测</b></span></td>
				{elseif condition="$vo.daozhen eq 1"}
				<td><span class="colorgreen"><b>到店已维修</b></span></td>
				{else}
				<td><span class="colorpurple"><b>到店未维修</b></span></td>
				{/if}
				<td>hwshwx{$vo.id}</td>
				<td class="relative"><span class="displaylt" data-id="{$vo.id}"><b>{$vo.name}</b> | {$vo.sex}<br>{if condition="$vo.address"}机型：{$vo.address}{else}{/if}<br>{if condition="(session('type') eq 1 || session('type') eq 3 || $vo.kefuid eq session('id')) && $vo.tel"}{$vo.tel}{/if}</span><div class="jumbotron">关于{$vo.name}的详细问题描述：<div class="liaotian" id="editor{$vo.id}">"<div><?php echo htmlspecialchars_decode($vo['liaotian']);?></div>"</div></div></td>
				<td class="djtime">{$vo.djtime}<br><span>预约网点：{$vo.keshi}</span></td>
				<td class="yytime">{if condition="!$vo.yytime" }-{else}{$vo.yytime|substr=0,10}{/if}</td>
				<td class="dztime">{if condition="!$vo.dztime" }-{else}<span class="colorred"><b>{$vo.dztime}</b></span>{/if}</td>
				<td>{$vo.kefu}</td>
				<td style="text-align: left!important;">
					渠道：{$vo.qudao}<br>
					<span class="colorpurple">描述：{$vo.desc}<br>
						备注：{$vo.beizhu}</span>
				</td>
				<td>
					<a href="{:url('edit', array('id'=>$vo.id))}">修改</a>
					<a href="{:url('delfalse', array('id'=>$vo.id))}" class="colorlightgray" onclick="return confirm('确认删除该信息到回收站？')">删除</a>
				</td>
			</tr>
			{/volist}
			</tbody>
		</table>
		{$orderList->render()}
	</div>
</div>
{include file="public/footer" /}
<script>
    ;(function(){
        var nowDate = new Date();
        var timeStr = nowDate.getFullYear()+"-"+(addzero(nowDate.getMonth() + 1))+"-"+addzero(nowDate.getDate());
        $('tbody tr').each(function(){
            var tjdate = $(this).find('.djtime').html().substr(0, 10)
            if(tjdate == timeStr){
                $(this).addClass('backcolor58AFD8')
            }
        })
    })();
    (function(){
        var time1 = setInterval(function(){
            $.get('/index.php/admin/order/listsmyselfajax',function(data){
	            $.each(data, function(index, value){
                    var shouldhftime = value.hftime;
                    var nowDate = new Date();
                    var nowtimestr = nowDate.getFullYear()+"-"+(addzero(nowDate.getMonth()+1))+"-"+addzero(nowDate.getDate())+" "+addzero(nowDate.getHours())+":"+addzero(nowDate.getMinutes())+":"+addzero(nowDate.getSeconds());
		            if( shouldhftime.substr(0,13) == nowtimestr.substr(0,13) ){
                       // var text='有患者需要回访了~' + '姓名：' + value.name + '~';
                        var text='今天还有患者需要回访~今天还有患者需要回访~';
                        var timerID;
                       newtext();
                       function newtext() {
                           clearTimeout(timerID)
                           document.title=text.substring(1,text.length)+text.substring(0,1)
                           text=document.title.substring(0,text.length)
                           // timerID = setTimeout("newtext()", 100)
                           timerID = setTimeout(function(){newtext()}, 250)
                       }
                    }
                })
            })
        }, 3000)
    })();
    function addzero(dateVal) {
        return dateVal < 10 ? '0' + dateVal: dateVal;
    }
</script>
</body>
</html>