<hr>
<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script language="javascript" type="text/javascript" src="/public/static/admin/lib/My97DatePicker/WdatePicker.js"></script>
<script>
    ;(function () {
        var origin = window.location.origin;
        var len = origin.length;
        var str1 = window.location.href.substring(len);
        $('.col-lg-2 .list-group a').each(function () {
            if ($(this).attr('href') == str1) {
                if(str1 != '/index.php/admin/order/add.html'){
                    $(this).addClass('active');
	            }
            }
        })
	    if(str1 == '/index.php/admin/index/index.html'){
            $('.lefuserinfo').css('margin-top', '50px');
	    }
    })()
</script>