<div class="col-lg-2 col-md-2 col-sm-2">
	<div class="list-group">
		<a href="{:url('order/add')}" class="list-group-item active">添加信息</a>
	</div>
	<div class="list-group">
		<li class="list-group-item active">用户信息</li>
		<a href="{:url('order/listsmyself')}" class="list-group-item">自己信息</a>
		<a href="{:url('order/lists')}" class="list-group-item">全部信息</a>
		<!--<a href="{:url('order/listsquery')}" class="list-group-item">查询信息</a>-->
		<a href="{:url('order/listsaddtoday')}" class="list-group-item">今日登记</a>
		<a href="{:url('order/listsordertoday')}" class="list-group-item">今日预约</a>
		<a href="{:url('order/listsdztoday')}" class="list-group-item">今日到诊</a>
		<a href="{:url('Antaibao/lists')}" class="list-group-item">安太宝</a>
		<a href="{:url('patient/lists')}" class="list-group-item">网站预约挂号</a>
		<a href="{:url('order/listsdel')}" class="list-group-item">回收站</a>
	</div>
	{if condition="session('type') eq 1"}
	<div class="list-group">
		<li class="list-group-item active">系统管理</li>
		<a href="{:url('admin/lists')}" class="list-group-item">查看用户</a>
		<a href="{:url('admin/add')}" class="list-group-item">新增用户</a>
		<a href="{:url('admin/listslock')}" class="list-group-item">锁定账户</a>
		{if condition="session('id') eq 1"}<a href="{:url('excel/out')}" class="list-group-item">导出数据</a>{/if}
	</div>
	{else}{/if}
</div>