<div class="row">
	<form action="" method="post" id="myform" name="myform" enctype="multipart/form-data" class="form-horizontal">
		<div class="col-lg-2">
			<div class="form-group">
				<label for="begintime" class="col-lg-5 control-label">开始时间：</label>
				<div class="col-lg-7"><input type="text" value="" class="form-control Wdate" id="begintime" name="begintime" onClick="WdatePicker({el:this,dateFmt:'yyyy-MM-dd'})"></div>
			</div>
		</div>
		<div class="col-lg-2">
			<div class="form-group">
				<label for="endtime" class="col-lg-5 control-label">结束时间：</label>
				<div class="col-lg-7"><input type="text" value="" class="form-control Wdate" id="endtime" name="endtime" onClick="WdatePicker({el:this,dateFmt:'yyyy-MM-dd'})"></div>
			</div>
		</div>
		<div class="col-lg-2">
			<div class="form-group">
				<label for="kefu" class="col-lg-5 control-label">客服：</label>
				<div class="col-lg-7"><input type="text" value="" class="form-control" id="kefu" name="kefu"></div>
			</div>
		</div>
		<div class="col-lg-2">
			<div class="form-group">
				<label for="tel" class="col-lg-5 control-label">电话：</label>
				<div class="col-lg-7"><input type="text" value="" class="form-control" id="tel" name="tel"></div>
			</div>
		</div>
		<div class="col-lg-2">
			<button type="submit" class="btn btn-primary">查询</button>
		</div>
	</form>
</div>
<hr>