<div class="row topsearch">
	<form action="" method="get" id="myform" name="myform" enctype="multipart/form-data" class="form-inline">
		<div class="form-group">
			<label for="begintime">开始时间</label>
			<input type="text" value="" class="form-control Wdate" id="begintime" name="begintime" onClick="WdatePicker({el:this,dateFmt:'yyyy-MM-dd'})">
		</div>
		<div class="form-group">
			<label for="name">姓名</label>
			<input type="text" value="" class="form-control" id="name" name="name">
		</div>
		<div class="form-group">
			<label for="yynum">预约号</label>
			<input type="text" value="" class="form-control" id="yynum" name="yynum">
		</div>
		<div class="form-group">
			<label for="czfz">初/复诊</label>
			<select class="form-control" name="czfz" id="czfz">
				<option value="">请选择</option>
				<option value="1">初诊</option>
				<option value="2">复诊</option>
			</select>
		</div>
		<div class="form-group">
			<label for="disease">病种</label>
			<input type="text" value="" class="form-control" id="disease" name="disease">
		</div>
		<br><br>
		<div class="form-group">
			<label for="endtime">结束时间</label>
			<input type="text" value="" class="form-control Wdate" id="endtime" name="endtime" onClick="WdatePicker({el:this,dateFmt:'yyyy-MM-dd'})">
		</div>
		<div class="form-group">
			<label for="tel">电话</label>
			<input type="text" value="" class="form-control" id="tel" name="tel">
		</div>
		<div class="form-group">
			<label for="weixin">微信</label>
			<input type="text" value="" class="form-control" id="weixin" name="weixin">
		</div>
		<div class="form-group">
			<label for="qq">QQ</label>
			<input type="text" value="" class="form-control" id="qq" name="qq">
		</div>
		<div class="form-group">
			<label for="beizhu">备注</label>
			<input type="text" value="" class="form-control" id="beizhu" name="beizhu">
		</div>
		<br><br>
		<div class="form-group">
			<label for="huifang">回访</label>
			<select class="form-control" name="huifang" id="huifang">
				<option value="3">默认所有</option>
				<option value="0">未回访</option>
				<option value="4">待回访</option>
				<option value="1">回访中</option>
				<option value="2">结束回访</option>
			</select>
		</div>
		<div class="form-group">
			<label for="halfyear">即将过期</label>
			<select class="form-control" name="halfyear" id="halfyear">
				<option value="">请选择</option>
				<option value="1">五个月之前患者</option>
			</select>
		</div>
		<div class="form-group">
			<button type="submit" class="btn btn-primary">查询</button>
			<button type="button" class="btn btn-primary reset">重置</button>
		</div>
	</form>





	<!--<form action="" method="get" id="myform" name="myform" enctype="multipart/form-data" class="form-horizontal">-->
		<!--<div class="col-lg-2">-->
			<!--<div class="form-group">-->
				<!--<label for="begintime" class="col-lg-5 control-label">开始时间：</label>-->
				<!--<div class="col-lg-7"><input type="text" value="" class="form-control Wdate" id="begintime" name="begintime" onClick="WdatePicker({el:this,dateFmt:'yyyy-MM-dd'})"></div>-->
			<!--</div>-->
		<!--</div>-->
		<!--<div class="col-lg-2">-->
			<!--<div class="form-group">-->
				<!--<label for="endtime" class="col-lg-5 control-label">结束时间：</label>-->
				<!--<div class="col-lg-7"><input type="text" value="" class="form-control Wdate" id="endtime" name="endtime" onClick="WdatePicker({el:this,dateFmt:'yyyy-MM-dd'})"></div>-->
			<!--</div>-->
		<!--</div>-->
		<!--<div class="col-lg-2">-->
			<!--<div class="form-group">-->
				<!--<label for="kefu" class="col-lg-5 control-label">客服：</label>-->
				<!--<div class="col-lg-7"><input type="text" value="" class="form-control" id="kefu" name="kefu"></div>-->
			<!--</div>-->
		<!--</div>-->
		<!--<div class="col-lg-2">-->
			<!--<div class="form-group">-->
				<!--<label class="col-lg-5 control-label" for="yynum">预约号：</label>-->
				<!--<div class="col-lg-7"><input type="text" value="" class="form-control" id="yynum" name="yynum"></div>-->
			<!--</div>-->
		<!--</div>-->
		<!--<div class="col-lg-2">-->
			<!--<div class="form-group">-->
				<!--<label for="disease" class="col-lg-5 control-label">病种：</label>-->
				<!--<div class="col-lg-7"><input type="text" value="" class="form-control" id="disease" name="disease"></div>-->
			<!--</div>-->
		<!--</div>-->
		<!--<div class="col-lg-2">-->
			<!--<div class="form-group">-->
				<!--<label for="beizhu" class="col-lg-5 control-label">备注：</label>-->
				<!--<div class="col-lg-7"><input type="text" value="" class="form-control" id="beizhu" name="beizhu"></div>-->
			<!--</div>-->
		<!--</div>-->
		<!--<div class="col-lg-2">-->
			<!--<div class="form-group">-->
				<!--<label for="name" class="col-lg-5 control-label">姓名：</label>-->
				<!--<div class="col-lg-7"><input type="text" value="" class="form-control" id="name" name="name"></div>-->
			<!--</div>-->
		<!--</div>-->
		<!--<div class="col-lg-2">-->
			<!--<div class="form-group">-->
				<!--<label for="tel" class="col-lg-5 control-label">电话：</label>-->
				<!--<div class="col-lg-7"><input type="text" value="" class="form-control" id="tel" name="tel"></div>-->
			<!--</div>-->
		<!--</div>-->
		<!--<div class="col-lg-2">-->
			<!--<div class="form-group">-->
				<!--<label for="weixin" class="col-lg-5 control-label">微信：</label>-->
				<!--<div class="col-lg-7"><input type="text" value="" class="form-control" id="weixin" name="weixin"></div>-->
			<!--</div>-->
		<!--</div>-->
		<!--<div class="col-lg-2">-->
			<!--<div class="form-group">-->
				<!--<label for="qq" class="col-lg-5 control-label">QQ：</label>-->
				<!--<div class="col-lg-7"><input type="text" value="" class="form-control" id="qq" name="qq"></div>-->
			<!--</div>-->
		<!--</div>-->
		<!--<div class="col-lg-2">-->
			<!--<div class="form-group">-->
				<!--<label for="huifang" class="col-lg-5 control-label">回访：</label>-->
				<!--&lt;!&ndash;<div class="col-lg-7"><input type="text" value="" class="form-control" id="qq" name="qq"></div>&ndash;&gt;-->
				<!--<div class="col-lg-7">-->
					<!--<select class="form-control" name="huifang" id="huifang">-->
						<!--<option value="3">默认所有</option>-->
						<!--<option value="0">未回访</option>-->
						<!--<option value="4">待回访</option>-->
						<!--<option value="1">回访中</option>-->
						<!--<option value="2">结束回访</option>-->
					<!--</select>-->
				<!--</div>-->
			<!--</div>-->
		<!--</div>-->
		<!--<div class="col-lg-2">-->
			<!--<button type="submit" class="btn btn-primary">查询</button>-->
		<!--</div>-->
	<!--</form>-->
</div>
<hr>