<!DOCTYPE html>
<html lang="zh-CN">
<head>
	{include file="public/head" /}
	<title>锁定用户列表</title>
</head>
<body>
{include file="public/header" /}
<div class="container-fluid">
	{include file="public/left" /}
	{include file="public/collgright" /}
		<h3>锁定用户列表</h3>
		<hr>
		<table class="table table-bordered">
			<thead>
			<tr>
				<th>ID</th>
				<th>用户名</th>
				<th>姓名</th>
				<th>类型</th>
				<th>操作</th>
			</tr>
			</thead>
			<tbody>
			{volist name="adminres" id="vo"}
			<tr>
				<th scope="row">{$vo.id}</th>
				<td>{$vo.username}</td>
				<td>{$vo.name}</td>
				<td>{if condition="$vo.type eq 1"}管理员{else condition="$vo.type eq 2"}客服{/if}</td>
				<td>
					<a href="{:url('edit', array('id'=>$vo.id))}">修改</a>
					<a href="{:url('del', array('id'=>$vo.id))}" onclick="return confirm('确定删除该用户？')">删除</a>
					<a href="{:url('unlock', array('id'=>$vo.id))}" onclick="return confirm('确定解锁该用户？')">解锁</a>
				</td>
			</tr>
			{/volist}
			</tbody>
		</table>
	</div>
</div>
{include file="public/footer" /}
</body>
</html>